body{
  transition: background-color 1s ease;
  background-color: #E74C3C;
  height: 400px;
  // position:relative;
  .quote{
    transition: background-color 1s ease;
    position:relative;
    top: 50%;
    // transform: translateY(-50%);
    margin: auto;
    width: 40%;
    // height:200px;
    background-color: white;
    border-radius: 10px;
    .quote-text{
      text-align: center;
      margin: 10px;
      i{
        vertical-align: top;
        font-size: x-large;
      }
      #text{
        font-family: 'Bitter', serif;
        font-size: x-large;
        font-weight: 700;
      }
    }
    .quote-author{
      text-align: right;
      #author{
        margin-right: 10px;
        font-family: 'Bitter', serif;
        font-size: 1.3em;
        font-weight: 200;  
      }
    }
    #new-quote{
      float: right;
      margin-right: 20px;
      top: 50%;
      transform: translateY(15%);
    }
    .row{
      margin: 0;
      .btn{
        margin: 10px 0 10px 10px;
      }
    }
  }


}
